[submodule "kernel_platform/common"]
	path = kernel_platform/common
	url = https://github.com/xfwdrev/android_kernel_samsung_sm8475.git
	branch = ack-upstream
[submodule "external/AnyKernel3"]
	path = external/AnyKernel3
	url = https://github.com/xfwdrev/AnyKernel3.git
	branch = b4q
[submodule "kernel_platform/msm-kernel"]
	path = kernel_platform/msm-kernel
	url = https://github.com/xfwdrev/android_kernel_samsung_sm8475.git
	branch = msm-kernel
