# Ignore build folders created
device/
out/
release/

# Ignore directories
.ccache/
prebuilts/vendor_boot_unpack/.gradle/
prebuilts/vendor_boot_unpack/**/build/
prebuilts/vendor_dlkm_unpack/.tmp/

# Ignore prebuilts
kernel_platform/prebuilts/clang/

# Ignore files not needed to be committed
exports.txt
kernel_platform/.config
.build_incremental