# Ignore build folders created
device/
out/
zip/

# Ignore directories
.ccache/
prebuilts/vendor_boot_unpack/.gradle/

# Ignore prebuilts
kernel_platform/prebuilts/
kernel_platform/prebuilts-master/

# Ignore files not needed to be committed
exports.txt
kernel_platform/.config
.build_incremental