# Disable Scamsung anti-root protection
# CONFIG_UH is not set
# CONFIG_RKP is not set
# CONFIG_KDP is not set
# CONFIG_SECURITY_DEFEX is not set
# CONFIG_SECURITY_DSMS is not set
# CONFIG_PROCA is not set
# CONFIG_PROCA_GKI_10 is not set
# CONFIG_PROCA_S_OS is not set
# CONFIG_FIVE is not set
# CONFIG_FIVE_GKI_10 is not set
# CONFIG_KNOX_NCM is not set

# Disable Werror
CONFIG_WERROR=n

# Add LOCALVERSION
CONFIG_LOCALVERSION="-ChicletKernel-UPSTREAM-b4q"
# CONFIG_LOCALVERSION_AUTO is not set

# Enable TMPFS_XATTR for HybridMount
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_TMPFS_XATTR=y

# Multi-Gen LRU
CONFIG_LRU_GEN=y
CONFIG_LRU_GEN_ENABLED=y

# TCP
CONFIG_TCP_CONG_ADVANCED=y
# CONFIG_TCP_CONG_BIC is not set
# CONFIG_TCP_CONG_WESTWOOD is not set
# CONFIG_TCP_CONG_HTCP is not set
CONFIG_TCP_CONG_BBR=y
CONFIG_DEFAULT_BBR=y
CONFIG_DEFAULT_TCP_CONG="bbr"

# NET
# CONFIG_DEFAULT_FQ is not set
CONFIG_DEFAULT_CAKE=y
CONFIG_DEFAULT_NET_SCH="cake"

# KernelSU
CONFIG_KSU=y

#SuSFS
CONFIG_KSU_SUSFS=y
CONFIG_KSU_SUSFS_SUS_PATH=y
CONFIG_KSU_SUSFS_SUS_MOUNT=y
CONFIG_KSU_SUSFS_SUS_KSTAT=y
CONFIG_KSU_SUSFS_SPOOF_UNAME=y
CONFIG_KSU_SUSFS_ENABLE_LOG=y
CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y
CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y
CONFIG_KSU_SUSFS_OPEN_REDIRECT=y
CONFIG_KSU_SUSFS_SUS_MAP=y
CONFIG_KSU_SUSFS_SUS_MEMFD=y

# Selinux Status
CONFIG_SECURITY_SELINUX_ALWAYS_ENFORCE=y
# CONFIG_SECURITY_SELINUX_ALWAYS_PERMISSIVE is not set

# Others
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y
CONFIG_SCHED_CASS=y
CONFIG_NOMOUNT=y
# CONFIG_DIRECT_RECLAIM_FILE_PAGES_ONLY is not set
# CONFIG_MEMCG_FORCE_USE_VM_SWAPPINESS is not set
# CONFIG_CFI_CLANG is not set
# CONFIG_CFI_CLANG_SHADOW is not set
# CONFIG_RELR is not set